.root {
    -fx-font-family: "Arial";
}

.button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.text-field, .password-field, .combo-box {
    -fx-border-color: #3498db;
    -fx-border-radius: 5;
    -fx-padding: 5;
}
